<html>

<head>
    <title>Zego Payment Options</title>
</head>

<body>
<h1>Zego Payment Options</h1>

{% for p in options_list %}
<div>
    <input type="radio" id="payment_option" name="payment_option" value="{{p.redirect_url}}">
    <label for="payment_option"> Payment Method: {{p.payment_method}} Amount: {{p.amount}} Description:
        {{p.description}} </label><br>
</div>
{% endfor %}

<script type="text/javascript">
    function redirect() {
        var textValue = document.querySelector('input[name="payment_option"]:checked').value;
        {
            location.href = textValue;
        }
    }
</script>

<div class="pay">
    <input type="button" onclick="javascript:redirect()"
           value="Payment redirect"/>
</div>


</body>
</html>